build/zinc*
build/scala*
build/*.jar
*.iws
*.ipr
*.iml
*.idea/
*.log
.idea/**
**/.classpath
**/.project
**/.settings
target
**/src/main/resources/git.properties

project/boot
project/plugins/project
project/plugins/target
project/target
.lib

*.pyc
.project
.classpath
.cache
.settings
.history
.idea
.DS_Store
*.iml
*.swp
*.swo
*.sublime-*
.vagrant
